
.overlay{
    padding-top: 30px;
}

.overlay span {
    font-size: 15px;
    color: white;
    display: inline-block;
    padding: 5px;
}
.overlay .form-control {
    border: 0 none;
    display: inline-block;
    width: auto;
}

.form-inline{
    padding-top: 40px;
}

.form-inline .form-control {
    border: 0 none;
    display: inline-block;
    width: 400px;
}

@media(max-width:480px) {
    .form-inline .form-control {
        width: auto;
    }
    #scroll-dwn{
        display: none;
    }
}

.media{
    margin-top: 20px;
    background: transperent;
}

.media-intro {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background: transperent;
}
.media-border {
    border: 2px solid white;
}
.media-intro .media-body {
   text-align: center;
  margin-top: 9px;
  color: white;
}

.show{
        display:none ! important;
    }
.category{
    cursor: pointer ! important;
 }

.panel-body {
    background-color: #000;
    font-size: 15px;
}
.panel-default {
    border: solid black;
}
.panel-title {
    font-size: 18px;
}
.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}