.icon{
    background-image: url(../img/icon.png);
}
.overlay{
    padding: 40px 0;
}
#times{
	padding: 0;
}
.overlay span {
    font-size: 15px;
    color: white;
    display: inline-block;
    padding: 5px;
}
.overlay .form-control {
    border: 0 none;
    display: inline-block;
    width: auto;
}
#form_data{
    padding-top: 11px;
    background: #2286c5;
	border-top: 3px solid #333;
}
._preHed{
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
    color: black;
}
#times select {
text-align-last: center; 
text-align: center;
-ms-text-align-last: center;
-moz-text-align-last: center;
text-align-last: center;
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #171b27 url(../img/select-arrow.png) no-repeat center bottom;
	width: 146px;
	text-indent: 0;
	text-overflow: "";
	color: #FFF;
	    background-size: 18px 16px;
	border-radius: 0px;
	padding: 10px 0px 10px 0px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	height:42px;
	font-size:15px;
	letter-spacing:1px;
	margin: 0 3px;
	font-family: 'Gotham-Book';
}
#times select.balck {
	background-color: #171b27;
}
#times select.option3 {
	border-radius: 10px 0;
}
.form-inline{
    padding-top: 40px;
}
#about,#contact {
    border-top: 1px solid #171b27;
}
.form-inline .form-control {
    border: 0 none;
    display: inline-block;
    width: 400px;
	font-family: 'Gotham-Book';
	border-radius: 0;
    padding: 20px 10px;
}

@media(max-width:480px) {
    .form-inline .form-control {
        width: auto;
    }
    #scroll-dwn{
        display: none;
    }
}

.media{
    margin: 10px 0;
    background: transperent;
}

.media-intro {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transperent;
}
.media-border {
    border: 2px solid transparent;
}
.media-intro .media-body {
   text-align: center;
  margin-top: 9px;
  color: white;
}

.show{
        display:none;
    }
.category{
    cursor: pointer ! important;
 }

.panel-body {
    background-color: #000;
    font-size: 15px;
}
._cur_acco {
    border: 1px solid black;
}
.panel-title {
    font-size: 18px;
}
.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.category h4{
    line-height: 2;
    margin-bottom: 10px;
	display: inline;
}
.category h4:hover, .media-intro ._cur_tab{
	color: rgb(34, 134, 197);
    border-bottom: 3px solid white;
}
